{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Requir %}ed meta tags -->
  <title> Electoral Dashboard :: Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <link rel="stylesheet" href="{% static 'leaflet-search-master/leaflet-search-master/dist/leaflet-search.src.css' %}"> 
  <link rel="stylesheet" href="{% static 'map.css' %}"> 
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link rel="stylesheet" href="{% static 'css/index2.css' %}">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />


  <!-- Bootstrap CSS -->

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Geoproject</title>
  <script type="text/javascript" src="https://code.highcharts.com/stock/highstock.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
  <script src="https://code.highcharts.com/modules/accessibility.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

  <!-- <script type="text/javascript" src="{% static 'chartjs/chart.js' %}"></script> -->




  <!-- We're going to import a bunch of scripts here. If it doesn't work, we'll remove them -->
  <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>

  <script src="https://unpkg.com/leaflet.featuregroup.subgroup@1.0.2/dist/leaflet.featuregroup.subgroup.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/1.4.2/Control.FullScreen.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/1.4.2/Control.FullScreen.min.css"/>


  <!-- ======================================== -->

</head>

<body>
  <nav class="navbar navbar-expand-md na navbar-dark bg-dark fixed-top" id="bar1">
    <div class="container-fluid" id="bar2">
      <a class="navbar-brand item1" id="nano_1" href="#">PARLIAMENT</a>

      <select id='regionSelection' onchange='changeChartRegion()' method="post" type="submit" class=btn-secondary name='regionNames'>

        <option id='regionOption' selected value="">Regions</option>
        {% for ga in graph1BX %}
        <option >{{ga}}</option>
        {% endfor %}
        
      </select>

      <a class="navbar-brand item2" id="title_1" href="#">
        <h1 class="title_1A"><span class="title_1B">ELECTORAL DASHBOARD</span><span class="title_1C">|</span><span class="title_1D">REPUBLIC OF GHANA</span></h1>
      </a>

      <select id='yearSelection' onchange="changeChartYear()" class=btn-secondary>
        <option selected value="">Years</option>
        <option value="2024">2024</option>
        <option value="2020">2020</option>
        <option value="2016">2016</option>
        <option value="2012">2012</option>
        <option value="2008_Re-election">2008_Re-election</option>
        <option value='2008'>2008</option>
             
      </select>
      <div>
        <button type="button" class="btn btn-primary" id="but1" data-toggle="modal" data-target="#exampleModal">
          ABOUT
        </button>
        <a class="navbar-brand item3" id="nano_2" href="#">PRESIDENTIAL</a>
      </div>
      

    </div>

  </nav>


  {% block content %}


  {% endblock %}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'map.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'leaflet-search-master/leaflet-search-master/dist/leaflet-search.src.js' %}"></script>
  <script type="text/javascript" src="{% static 'chartjs/chart.js' %}"></script>

  <script type="text/javascript">
window.onload = function() {
    var updateLayerVisibility = function() {
        var mapZoom = map_name_1.getZoom();
        
        // Check the zoom level and show/hide the ps_group layer
        if (mapZoom >= 6) {
            map_name_1.addLayer(feature_group_sub_group_4e7634126027285475f177d911e25d0c);
        } else {
            map_name_1.removeLayer(feature_group_sub_group_4e7634126027285475f177d911e25d0c);
        }
    }
    
    updateLayerVisibility();
    
    map_name_1.on("zoomend", updateLayerVisibility);
}

    var initialView = map_name_1.getBounds();

    function resetMap() {
      map_name_1.setView(initialView.getCenter(), 6);
      map_name_1.addLayer(layer_control_f7171e288f87cfdcc249797c44e88a3a.overlays["Polling Stations (PS)"]);

       geo_json_64e24e643e750814cf677bcd906ed09c.eachLayer(function(layer) {
          layer.setStyle({
            // Set your highlighting style here
            fillOpacity: 0
          });
        })


       geo_json_9df167a58514ed5ed641a24d06de19fa.eachLayer(function(layer) {
          layer.setStyle({
            // Set your highlighting style here
            fillOpacity: 0
          });
        })
    }


    const searchControl1 = new L.Control.Search({
                    layer: layer_control_f7171e288f87cfdcc249797c44e88a3a.overlays["Polling Stations (PS)"],
                    zoom: '15',
                    propertyName: 'PS Name',
                    textPlaceholder: 'Search PS Name',
                    hideMarkerOnCollapse: true
                    }).addTo(map_name_1);

</script>
    

  <script type="text/javascript">
    (function(H) {

      var createElement = H.createElement,
      css = H.css,
      extend = H.extend,
      addEvent = H.addEvent,
      doc = H.doc,
      each = H.each;

      H.Chart.prototype.contextMenu = function (className, items, x, y, width, height, button) {
        var chart = this,
        navOptions = chart.options.navigation,
        chartWidth = chart.chartWidth,
        chartHeight = chart.chartHeight,
        cacheName = 'cache-' + className,
        menu = chart[cacheName],
      menuPadding = Math.max(width, height), // for mouse leave detection
      innerMenu,
      hide,
      menuStyle;

    // create the menu only the first time
      if (!menu) {

      // create a HTML element above the SVG
        chart[cacheName] = menu = createElement('div', {
          className: className
        }, {
          position: 'absolute',
          zIndex: 1000,
          padding: menuPadding + 'px'
        }, chart.container);

        innerMenu = createElement('div', { className: 'highcharts-menu' }, null, menu);

      /*= if (build.classic) { =*/
      // Presentational CSS
        css(innerMenu, extend({
          MozBoxShadow: '3px 3px 10px #888',
          WebkitBoxShadow: '3px 3px 10px #888',
          boxShadow: '3px 3px 10px #888'
        }, navOptions.menuStyle));
      /*= } =*/

      // hide on mouse out
        hide = function () {
          css(menu, { display: 'none' });
          if (button) {
            button.setState(0);
          }
          chart.openMenu = false;
        };

      // Hide the menu some time after mouse leave (#1357)
        chart.exportEvents.push(
          addEvent(menu, 'mouseleave', function () {
            menu.hideTimer = setTimeout(hide, 500);
          }),
          addEvent(menu, 'mouseenter', function () {
            clearTimeout(menu.hideTimer);
          }),

        // Hide it on clicking or touching outside the menu (#2258, #2335,
        // #2407)
          addEvent(doc, 'mouseup', function (e) {
            if (!chart.pointer.inClass(e.target, className)) {
              hide();
            }
          })
          );

      // create the items
        each(items, function (item) {

          if (typeof item === 'string') {
            item = chart.options.exporting.menuItemDefinitions[item];
          }   

          if (H.isObject(item, true)) {
            var element;

            if (item.separator) {
              element = createElement('hr', null, null, innerMenu);

            } else {
              element = createElement('div', {
                className: 'highcharts-menu-item',
                onclick: function (e) {
                if (e) { // IE7
                  e.stopPropagation();
                }
                hide();
                if (item.onclick) {
                  item.onclick.apply(chart, arguments);
                }
              },
              innerHTML: item.text || chart.options.lang[item.textKey]
            }, null, innerMenu);

              if(item.text === 'Download CSV') {
              /* for "disabled" effect */
                element.style['pointer-events'] = 'none';
                element.style.opacity = 0.5;
                element.style.background = '#CCC';
              }

              if(item.text === 'Download XLS') {
              /* for "disabled" effect */
                element.style['pointer-events'] = 'none';
                element.style.opacity = 0.5;
                element.style.background = '#CCC';
              }

            /*= if (build.classic) { =*/
              element.onmouseover = function () {
                css(this, navOptions.menuItemHoverStyle);
              };
              element.onmouseout = function () {
                css(this, navOptions.menuItemStyle);
              };
              css(element, extend({
                cursor: 'pointer'
              }, navOptions.menuItemStyle));
            /*= } =*/
            }

          // Keep references to menu divs to be able to destroy them
            chart.exportDivElements.push(element);
          }
        });

      // Keep references to menu and innerMenu div to be able to destroy them
        chart.exportDivElements.push(innerMenu, menu);

        chart.exportMenuWidth = menu.offsetWidth;
        chart.exportMenuHeight = menu.offsetHeight;
      }

      menuStyle = { display: 'block' };

    // if outside right, right align it
      if (x + chart.exportMenuWidth > chartWidth) {
        menuStyle.right = (chartWidth - x - width - menuPadding) + 'px';
      } else {
        menuStyle.left = (x - menuPadding) + 'px';
      }
    // if outside bottom, bottom align it
      if (y + height + chart.exportMenuHeight > chartHeight && button.alignOptions.verticalAlign !== 'top') {
        menuStyle.bottom = (chartHeight - y - menuPadding)  + 'px';
      } else {
        menuStyle.top = (y + height - menuPadding) + 'px';
      }

      css(menu, menuStyle);
      chart.openMenu = true;
    };

  })(Highcharts);



    var chart1 = Highcharts.chart('container1', {
      chart: {
        type: 'bar',
        style: {
          fontSize: '15px',
          
        }
      },
      title: {
        text: 'Total Valid Votes Per Region (Parliament)',
        align: 'left',
        style: {
          fontSize: '13px'
        }
      },

      xAxis: {
        categories: {{ graph1AX | safe}},
        scrollbar: {
          enabled: false
        },
        title: {
          text: 'Regions'
        },
        gridLineWidth: 1,
        lineWidth: 0
      },
      yAxis: {
        scrollbar: {
          enabled: false
        },
        min: 0,
        title: {
          text: 'Total Valid Votes',
          align: 'high'
        },
        labels: {
          overflow: 'justify'
        },
        gridLineWidth: 0
      },
      tooltip: {
        valueSuffix: ''
      },
      plotOptions: {
        bar: {
          borderRadius: '50%',
          dataLabels: {
            enabled: true
          },
          groupPadding: 0.1
        }
      },
      exporting: {
        buttons: {
            contextButton: {
                menuItems: [
                    'viewFullscreen',
                    'printChart',
                    'separator',
                    'downloadPNG', // Keep the options you want to keep
                    'downloadJPEG', // Keep the options you want to keep                    
                    'downloadPDF', // Keep the options you want to keep
                    'downloadSVG', // Keep the options you want to keep
                    'separator',
                    {
                        text: 'Download CSV',
                        
                        // Custom onclick handler for the inactive item
                        onclick: function () {
                            // Do nothing or show a message indicating it's inactive
                        },
                        // Add a CSS class to style the inactive item
                        

                    },
                    {
                        text: 'Download XLS',

                        // Custom onclick handler for the inactive item
                        onclick: function () {
                            // Do nothing or show a message indicating it's inactive
                        },
                        // Add a CSS class to style the inactive item
                        className: 'inactive-menu-item'
                    },
                    {
                      text: 'View Data Table',

                      onclick: function() {
                        if (this.dataTableDiv && this.dataTableDiv.style.display !== 'none') {
                          this.dataTableDiv.style.display = 'none';
                        } else {
                          this.viewData();
                          this.dataTableDiv.style.display = '';
                        }
                      },
                      
                    
                    }
                    
                    ]
            }
        }
    },
      legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'top',
        x: -40,
        y: 30,
        floating: true,
        borderWidth: 1,
        backgroundColor:
        Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF',
        shadow: true
      },
      credits: {
        enabled: false
      },
      series: [{
        name: 'Data',
        data: {{ graph1AY | safe}}
      }]
    });


    var chart1b = Highcharts.chart('container1b', {
      chart: {
        type: 'bar',
        style: {
          fontSize: '15px',
          
        }
      },
      title: {
        text: 'Total Valid Votes Per Region (Presidential)',
        align: 'left',
        style: {
          fontSize: '13px'
        }
      },

      xAxis: {
        categories: {{ graph1BX | safe}},
        scrollbar: {
          enabled: false
        },
        title: {
          text: 'Regions'
        },
        gridLineWidth: 1,
        lineWidth: 0
      },
      yAxis: {
        scrollbar: {
          enabled: false
        },
        min: 0,
        title: {
          text: 'Total Valid Votes',
          align: 'high'
        },
        labels: {
          overflow: 'justify'
        },
        gridLineWidth: 0
      },
      tooltip: {
        valueSuffix: ''
      },
      plotOptions: {
        bar: {
          borderRadius: '50%',
          dataLabels: {
            enabled: true
          },
          groupPadding: 0.1
        }
      },
      exporting: {
        buttons: {
            contextButton: {
                menuItems: [
                    'viewFullscreen',
                    'printChart',
                    'separator',
                    'downloadPNG', // Keep the options you want to keep
                    'downloadJPEG', // Keep the options you want to keep                    
                    'downloadPDF', // Keep the options you want to keep
                    'downloadSVG', // Keep the options you want to keep
                    'separator',
                    {
                        text: 'Download CSV',
                        
                        // Custom onclick handler for the inactive item
                        onclick: function () {
                            // Do nothing or show a message indicating it's inactive
                        },
                        // Add a CSS class to style the inactive item
                        

                    },
                    {
                        text: 'Download XLS',

                        // Custom onclick handler for the inactive item
                        onclick: function () {
                            // Do nothing or show a message indicating it's inactive
                        },
                        // Add a CSS class to style the inactive item
                        className: 'inactive-menu-item'
                    },
                    {
                      text: 'View Data Table',

                      onclick: function() {
                        if (this.dataTableDiv && this.dataTableDiv.style.display !== 'none') {
                          this.dataTableDiv.style.display = 'none';
                        } else {
                          this.viewData();
                          this.dataTableDiv.style.display = '';
                        }
                      },
                      
                    
                    }
                    
                    ]
            }
        }
    },
      legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'top',
        x: -40,
        y: 30,
        floating: true,
        borderWidth: 1,
        backgroundColor:
        Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF',
        shadow: true
      },
      credits: {
        enabled: false
      },
      series: [{
        name: 'Data',
        data: {{ graph1BY | safe}},
        color: '#f0a754'
      }]
    });

    // Build the chart
    var chart2 = Highcharts.chart('container2', {
      chart: {
        style: {
          fontSize: '15px'
        },
        events: {
          load() {
            dataLabels = {{ graph2AX | safe }};
            const chart = this;
            chart.series[0].points.forEach((point, index) => point.update({
              name: dataLabels[index]
            }), false);
            chart.redraw();
          }
        }
      },
      title: {
        text: 'Total Valid Votes Per Political Party (Parliament)',
        align: 'left',
        style: {
          fontSize: '13px',
          fontWeight: 'bold'
        }
      },
      exporting: {
        buttons: {
            contextButton: {
                menuItems: [
                    'viewFullscreen',
                    'printChart',
                    'separator',
                    'downloadPNG', // Keep the options you want to keep
                    'downloadJPEG', // Keep the options you want to keep                    
                    'downloadPDF', // Keep the options you want to keep
                    'downloadSVG', // Keep the options you want to keep
                    'separator',
                    {
                        text: 'Download CSV',
                        
                        // Custom onclick handler for the inactive item
                        onclick: function () {
                            // Do nothing or show a message indicating it's inactive
                        },
                        // Add a CSS class to style the inactive item
                        

                    },
                    {
                        text: 'Download XLS',

                        // Custom onclick handler for the inactive item
                        onclick: function () {
                            // Do nothing or show a message indicating it's inactive
                        },
                        // Add a CSS class to style the inactive item
                        className: 'inactive-menu-item'
                    },
                    {
                      text: 'View Data Table',

                      onclick: function() {
                        if (this.dataTableDiv && this.dataTableDiv.style.display !== 'none') {
                          this.dataTableDiv.style.display = 'none';
                        } else {
                          this.viewData();
                          this.dataTableDiv.style.display = '';
                        }
                      },
                      
                    
                    }
                    
                    ]
            }
        }
    },
      credits: {
        enabled: false
      },
      series: [{
        type: 'pie',
        showInLegend: true,
        data: {{ graph2AY | safe}},
        name: 'Valid Votes'
      }]

    });


    var chart2b = Highcharts.chart('container2b', {
      chart: {
        style: {
          fontSize: '15px'
        },
        events: {
          load() {
            dataLabels = {{ graph2BX | safe }};
            const chart = this;
            chart.series[0].points.forEach((point, index) => point.update({
              name: dataLabels[index]
            }), false);
            chart.redraw();
          }
        },
      },
      title: {
        text: 'Total Valid Votes Per Political Party (Presidential)',
        align: 'left',
        style: {
          fontSize: '13px',
          fontWeight: 'bold'
        }
      },
      exporting: {
        buttons: {
            contextButton: {
                menuItems: [
                    'viewFullscreen',
                    'printChart',
                    'separator',
                    'downloadPNG', // Keep the options you want to keep
                    'downloadJPEG', // Keep the options you want to keep                    
                    'downloadPDF', // Keep the options you want to keep
                    'downloadSVG', // Keep the options you want to keep
                    'separator',
                    {
                        text: 'Download CSV',
                        
                        // Custom onclick handler for the inactive item
                        onclick: function () {
                            // Do nothing or show a message indicating it's inactive
                        },
                        // Add a CSS class to style the inactive item
                        

                    },
                    {
                        text: 'Download XLS',

                        // Custom onclick handler for the inactive item
                        onclick: function () {
                            // Do nothing or show a message indicating it's inactive
                        },
                        // Add a CSS class to style the inactive item
                        className: 'inactive-menu-item'
                    },
                    {
                      text: 'View Data Table',

                      onclick: function() {
                        if (this.dataTableDiv && this.dataTableDiv.style.display !== 'none') {
                          this.dataTableDiv.style.display = 'none';
                        } else {
                          this.viewData();
                          this.dataTableDiv.style.display = '';
                        }
                      },
                      
                    
                    }
                    
                    ]
            }
        }
    },
      credits: {
        enabled: false
      },
      series: [{
        type: 'pie',
        showInLegend: true,
        data: {{ graph2BY | safe}},
        name: 'Valid Votes'
      }]

    });

    const datum =  {{df_grouped3z | safe}};

    // Extract categories (first column) and column names (header row)
    const categories = datum.map(item => item[0]);
    const columnNames = {{graph2AX | safe}};

    // Extract series data (exclude the first row which contains column names)
    const seriesData = datum.slice(0).map(item => item.slice(1));

    var chart3 = Highcharts.chart('container3', {
      chart: {
        type: 'column',
        style: {
          fontSize: '15px'
        }
      },
      title: {
        text: 'Total Valid Votes for Each Political Party Per Region(Parliament)',
        style: {
          fontSize: '13px',
          fontWeight: 'bold'
        }
      },
      xAxis: {
        categories: categories,
        scrollbar: {
          enabled: false
        },
      },
      yAxis: {
        title: {
          scrollbar: {
          enabled: false
        },
          text: 'Valid Votes'
        }
      },
      exporting: {
        buttons: {
            contextButton: {
                menuItems: [
                    'viewFullscreen',
                    'printChart',
                    'separator',
                    'downloadPNG', // Keep the options you want to keep
                    'downloadJPEG', // Keep the options you want to keep                    
                    'downloadPDF', // Keep the options you want to keep
                    'downloadSVG', // Keep the options you want to keep
                    'separator',
                    {
                        text: 'Download CSV',
                        
                        // Custom onclick handler for the inactive item
                        onclick: function () {
                            // Do nothing or show a message indicating it's inactive
                        },
                        // Add a CSS class to style the inactive item
                        

                    },
                    {
                        text: 'Download XLS',

                        // Custom onclick handler for the inactive item
                        onclick: function () {
                            // Do nothing or show a message indicating it's inactive
                        },
                        // Add a CSS class to style the inactive item
                        className: 'inactive-menu-item'
                    },
                    {
                      text: 'View Data Table',

                      onclick: function() {
                        if (this.dataTableDiv && this.dataTableDiv.style.display !== 'none') {
                          this.dataTableDiv.style.display = 'none';
                        } else {
                          this.viewData();
                          this.dataTableDiv.style.display = '';
                        }
                      },
                      
                    
                    }
                    
                    ]
            }
        }
    },
      credits: {
        enabled: false
      },
      tooltip: {
        headerFormat: '<b>{point.x}</b><br/>',
        pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
      },
      plotOptions: {
        column: {
          stacking: 'normal',
        }
      },
      series: columnNames.map((columnName, index) => ({
        name: columnName,
        data: seriesData.map(dataSeries => dataSeries[index]),
        showInLegend: false,
      }))
    });

    const datum2 =  {{df_grouped4z | safe}};


    // Extract categories (first column) and column names (header row)
    const categories2 = datum2.map(item => item[0]);
    const columnNames2 = {{graph2BX | safe}};

    // Extract series data (exclude the first row which contains column names)
    const seriesData2 = datum2.slice(0).map(item => item.slice(1));

    var chart3b = Highcharts.chart('container3b', {
      chart: {
        type: 'column',
        style: {
          fontSize: '15px'
        }
      },
      title: {
        text: 'Total Valid Votes for Each Political Party Per Region(Presidential)',
        style: {
          fontSize: '13px',
          fontWeight: 'bold'
        }
      },
      xAxis: {
        categories: categories2,
        scrollbar: {
          enabled: false
        },
      },
      yAxis: {
        title: {
          scrollbar: {
          enabled: false
        },
          text: 'Valid Votes'
        }
      },
      exporting: {
        buttons: {
            contextButton: {
                menuItems: [
                    'viewFullscreen',
                    'printChart',
                    'separator',
                    'downloadPNG', // Keep the options you want to keep
                    'downloadJPEG', // Keep the options you want to keep                    
                    'downloadPDF', // Keep the options you want to keep
                    'downloadSVG', // Keep the options you want to keep
                    'separator',
                    {
                        text: 'Download CSV',
                        
                        // Custom onclick handler for the inactive item
                        onclick: function () {
                            // Do nothing or show a message indicating it's inactive
                        },
                        // Add a CSS class to style the inactive item
                        

                    },
                    {
                        text: 'Download XLS',

                        // Custom onclick handler for the inactive item
                        onclick: function () {
                            // Do nothing or show a message indicating it's inactive
                        },
                        // Add a CSS class to style the inactive item
                        className: 'inactive-menu-item'
                    },
                    {
                      text: 'View Data Table',

                      onclick: function() {
                        if (this.dataTableDiv && this.dataTableDiv.style.display !== 'none') {
                          this.dataTableDiv.style.display = 'none';
                        } else {
                          this.viewData();
                          this.dataTableDiv.style.display = '';
                        }
                      },
                      
                    
                    }
                    
                    ]
            }
        }
    },
      credits: {
        enabled: false
      },
      tooltip: {
        headerFormat: '<b>{point.x}</b><br/>',
        pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
      },
      plotOptions: {
        column: {
          stacking: 'normal',
        }
      },
      series: columnNames2.map((columnName, index) => ({
        name: columnName,
        data: seriesData2.map(dataSeries => dataSeries[index]),
        showInLegend: false,
      }))
    });

    var chart4 = Highcharts.chart('container4', {
      chart: {
        type: 'bar',
        style: {
          fontSize: '15px',
          
        }
      },
      title: {
        text: 'Population Demographics',
        align: 'left',
        style: {
          fontSize: '13px'
        }
      },
       subtitle: {
        text: '',
        align: 'left'
    },

      xAxis: {
        categories: {{ graph1AX2P | safe}},
        scrollbar: {
          enabled: false
        },
        title: {
          text: 'Regions'
        },
        gridLineWidth: 1,
        lineWidth: 0
      },
      yAxis: {
        scrollbar: {
          enabled: false
        },
        min: 0,
        title: {
          text: 'NOTE: Only 2020 Population Demographics Data is available',
          align: 'high'
        },
        labels: {
          overflow: 'justify'
        },
        gridLineWidth: 0
      },
      tooltip: {
        valueSuffix: ''
      },
      plotOptions: {
        bar: {
          borderRadius: '50%',
          dataLabels: {
            enabled: true
          },
          groupPadding: 0.1
        }
      },
      exporting: {
        buttons: {
            contextButton: {
                menuItems: [
                    'viewFullscreen',
                    'printChart',
                    'separator',
                    'downloadPNG', // Keep the options you want to keep
                    'downloadJPEG', // Keep the options you want to keep                    
                    'downloadPDF', // Keep the options you want to keep
                    'downloadSVG', // Keep the options you want to keep
                    'separator',
                    {
                        text: 'Download CSV',
                        
                        // Custom onclick handler for the inactive item
                        onclick: function () {
                            // Do nothing or show a message indicating it's inactive
                        },
                        // Add a CSS class to style the inactive item
                        

                    },
                    {
                        text: 'Download XLS',

                        // Custom onclick handler for the inactive item
                        onclick: function () {
                            // Do nothing or show a message indicating it's inactive
                        },
                        // Add a CSS class to style the inactive item
                        className: 'inactive-menu-item'
                    },
                    {
                      text: 'View Data Table',

                      onclick: function() {
                        if (this.dataTableDiv && this.dataTableDiv.style.display !== 'none') {
                          this.dataTableDiv.style.display = 'none';
                        } else {
                          this.viewData();
                          this.dataTableDiv.style.display = '';
                        }
                      },
                      
                    
                    }
                    
                    ]
            }
        }
    },
      legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'top',
        x: -40,
        y: 30,
        floating: true,
        borderWidth: 1,
        backgroundColor:
        Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF',
        shadow: true
      },
      credits: {
        enabled: false
      },
      series: [{
        name: 'Data',
        data: {{ graph1AY2P | safe}},
        color: '#84b046'
      }]
    });


  </script>

 
  <script type="text/javascript">
    function updateMap(region, year) {

    let activeRegion = ""

    if (year === "2008" || year === "2008_Re-elected" || year === "2012" || year === "2016") {
        map_name_1.removeLayer(layer_control_f7171e288f87cfdcc249797c44e88a3a.overlays["16_Regions"]);
        map_name_1.addLayer(layer_control_f7171e288f87cfdcc249797c44e88a3a.overlays["Regions"]);
        activeRegion = geo_json_64e24e643e750814cf677bcd906ed09c
    } else {
        map_name_1.removeLayer(layer_control_f7171e288f87cfdcc249797c44e88a3a.overlays["Regions"]);
        map_name_1.addLayer(layer_control_f7171e288f87cfdcc249797c44e88a3a.overlays["16_Regions"]);
        activeRegion = geo_json_9df167a58514ed5ed641a24d06de19fa

    }

    highlightRegion(activeRegion, region)
    return
    }

    function highlightRegion(activeRegion, regionID) {
      if(!regionID) regionID = ""
      activeRegion.eachLayer(function(layer) {
        if (layer.feature.properties.region == regionID.toUpperCase()) {
          map_name_1.removeLayer(layer_control_f7171e288f87cfdcc249797c44e88a3a.overlays["Polling Stations (PS)"]);
            layer.setStyle({
                fillColor: 'yellow', // Set your highlighting style here
                fillOpacity: 0.8
            });
        } 
        else {
            layer.setStyle({
                fillOpacity: 0
            });
        }
    });
}
    
  </script>
    
  
  

</body>

</html>