@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

.buta 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.modal-body
{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh; 
   background: linear-gradient(#0f4675,#0f4675 50%, #fff 50%, #fff 100%);
}
.fontain
{
    width: 1100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.fontain .box
{
   position: relative;
   width: 100%;
   background: #fff;
   padding: 41px 40px 60px;
   box-shadow: 0 15px 45px rgba(0, 0, 0, .1); 
}
.fontain .box:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff226d;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
}
.fontain .box:hover:before
{
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}
.fontain .box h2
{
    position: absolute;
    left: 40px;
    top: 10px;
    font-size: 2.5em;
    font-weight: 800;
    z-index: 1;
    transition: 0.5s;
    color: #636966;
    opacity: 0.2;
}
.fontain .box:hover h2
{
    opacity: 1;
    color: #fff;
    transform: translateY(-40px);
}
.fontain .box h3
{
   position: relative;
   font-size: 1.5em;
   z-index: 2;
   color: #333;
   transition: 0.5s; 
}
.fontain .box p
{
   position: relative;
   z-index: 2;
   color: #555;
   transition: 0.5s; 
}
.fontain .box ul
{
   position: relative;
   z-index: 2;
   color: darkblue;
   transition: 0.5s; 
}
.fontain .box:hover h3,
.fontain .box:hover p
{
    color: #fff;
}
.fontain .box h3 span
{
    position: relative;
    z-index: 2;
    
}
.fontain .box:hover h3 span
{
    color: darkblue;
}
.fontain .box:hover ul
{
    color: black;
}
#nano_1 {
    font-size: 14px;
     margin-right: 2px;
     margin-left: 16px;
}
#nano_2 {
    font-size: 14px;
    margin-bottom: -1px;
}
#regionSelection {
    border-style: solid;
    border-radius: 3px;
    padding: 4px;
    font-size: 13px;
}
#yearSelection {
    border-style: solid;
    border-radius: 3px;
    padding: 6px;
    font-size: 13px;
}
#title_1 {
    border-left-style: inset;
    border-left-width: 5px;
    border-right-style: outset;
    border-right-width: 5px;
    padding-left: 49px;
    padding-right: 51px;
    margin-left: -3px;
    height: 31px;
    margin-bottom: -3px
}
.title_1A {
    margin-top: -24px
}
.title_1B {
    font-size: 17px;
}
.title_1C {
    margin-left: 10px;
    margin-right: 10px;
}
.title_1D {
    font-size: 12px;
    font-style: italic;
}
#map-container {
    border-style: ridge;
    border-width: 2px;
    border-width: 5px;
    padding: 0px;
    width: 398px;
    height: 441px;
    margin-left: -21px
}
#container1 {
    border-style: outset;
    border-width: 5px;
}
#container4 {
    border-style: outset;
    border-width: 5px;
    width: 381px;
    margin-left: -24px
}
#container1b {
    border-style: inset;
    border-width: 5px;
}
#container2 {
    border-style: outset;
    border-width: 5px;
}
#container3 {
    border-right-style: outset;
    border-width: 2px;
    width: 381px;
    margin-left: -24px
}
#container3b {
    border-left-style: inset; 
    border-width: 2px;
    width: 399px;
    margin-left: -21px
}
#container2b {
    border-style: inset;
    border-width: 5px;
}
#bt1 {
    font-size: 12px;
    border-style: solid;
    border-radius: 4px;
}
#censusSelection {
    border-style: solid;
    border-radius: 3px;
    padding: 4px;
    font-size: 12px;
    margin-left: -24px;
}
#bt2 {
    font-size: 12px;
    border-style: solid;
    border-radius: 4px;
    margin-left: 153px
}
#md1 {
    margin-left: -1086px;
    margin-top: 229px;
    width:1185px
}
.pp1 {
    font-size: x-small;
}
#hh2a {
    font-weight: bold;
    font-size: Small;
    color: black;
}
#hh2 {
    font-size: small;
    font-style: italic;
}
#but1 {
    font-size: 10px; 
    margin-left: 18px;
    border-style: solid;
    border-radius: 20px;
    background-color: #445063;
    border-width: 1px;
    padding: 8px;
    margin-top: 8px;
}
#bar1 {
    min-height: 37px;
}
#bar2 {
    height: 24px;
}
#map_name_1 {
    width: 100%;
    height: 431px
}
#parliamentTotal {
    font-size: 23px;
    font-weight: bold;
    color: #d68d33;
}
#presidentialTotal {
    font-size: 23px;
    font-weight: bold;
    color: #d68d33;
}

@media screen and (max-width: 600px)
{
    #nano_1 {
        display: none;
    }
    #nano_2 {
        display: none;
    }
    #regionSelection {
    font-size: 2vw;
    margin-left: 1vw;
    margin-top: -0.2vh;
    }
    #yearSelection {
    font-size: 1.5vw;
    margin-right: 1vw;
    margin-left: -25vw;
    margin-top: -0.5vh;
    }
    #title_1 {
    border-left-style: inset;
    border-left-width: 2px;
    border-right-style: outset;
    border-right-width: 2px;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-right: 24vw;
    height: 3vh;
    margin-bottom: 1vh;
    margin-top: -0.5vh;
    }
    .title_1A {
        margin-top: -3.5vh;
    }
    .title_1B {
    font-size: 3vw;
    }
    .title_1C {
        display: none;
    }
    .title_1D {
        display: none;
    }
    #map-container {
        width: 100vw;
        margin-left: -7px;
    }
    #container1 {
        margin-left: -8px;
        width: 100vw;
    }
    #container4 {
        margin-left: -8px;
        width: 100vw;
    }
    #container1b {
        margin-left: -8px;
        width: 100vw;
    }
    #container2 {
        margin-left: -8px;
        width: 100vw;
    }
    #container3 {
        margin-left: -7px;
        width: 100vw;
    }
    #container3b {
        margin-left: -7px;
        width: 100vw;
    }
    #container2b {
        margin-left: -8px;
        width: 100vw;
    }
    #bt1 {
        margin-left: -6px;
    }
    #censusSelection {
        margin-left: -5px;
        font-size: 3vw;
    }
    #bt2 {
        margin-left: -5px;
    }
    #md1 {
    margin-left: -1vw;
    margin-top: 86vh;
    width:96vw;
    }
    #about2 {
        font-size: large;
    }
    .pp1 {
        font-size: xx-small;
    }
    #hh2a {
        font-size: smaller;
    }
    #hh2 {
        font-size: smaller;
    }
    #hh1 {
        font-size: small;
    }
    #but1 {
        font-size: 1vw;
        margin-left: -11vw;
        margin-top: -3vh;
        margin-right: -128vw;
        margin-bottom: -11vh;
    }
    #bar2 {
        height: 3vh;
    }
    #parliamentTotal {
        font-size: 3.5vw;
    }
    #presidentialTotal {
        font-size: 3.5vw;
    
    }
    #md1 {
        margin-left: 10.8vw;
        margin-top: 82vh;
        width: 73vw;
    }
    

}

@media screen and (max-width: 900px) and (min-width: 600px) {
    #nano_1 {
        display: none;
    }
    #nano_2 {
        display: none;
    }
    #regionSelection {
    font-size: 2vw;
    margin-left: 1vw;
    margin-top: -0.2vh;
    }
    #yearSelection {
    font-size: 1.5vw;
    margin-left: -6vw;
    margin-top: -0.5vh;
    }
    #title_1 {
    border-left-style: inset;
    border-left-width: 2px;
    border-right-style: outset;
    border-right-width: 2px;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-left: -4vw;
    height: 3vh;
    margin-bottom: 2vh;
    margin-top: 1.5vh;
    }
    .title_1A {
        margin-top: -2vh;
    }
    .title_1B {
    font-size: 2vw;
    }
    .title_1C {
        
    }
    .title_1D {
        
    }
    #map-container {
        width: 50vw;
        margin-left: -3vw;
        margin-top: 42vh;
    }
    #container1 {
        margin-left: -3px;
        width: 50vw;
        height: 40vh;
    }
    #container4 {
        margin-left: -27vw;
        width: 50vw;
        margin-top: 44vh;
    }
    #container1b {
        margin-left: -27.5vw;
        width: 50vw;
        height: 40vh;
    }
    #container2 {
        margin-left: -8px;
        width: 50vw;
        height: 40vh;
    }
    #container3 {
        margin-left: -26vw;
        width: 50vw;
        margin-top: 40vh;
    }
    #container3b {
        margin-left: -3vw;
        width: 50vw;
        margin-top: 40vh;
    }
    #container2b {
        margin-left: -28.5vw;
        width: 50vw;
        height: 40vh;
    }
    #bt1 {
        margin-left: -6px;
    }
    #censusSelection {
        position: absolute;
        margin-left: -26vw;
        margin-top: 42vh;
        font-size: 1.5vw;
    }
    #bt2 {
        margin-left: -5vw;
    }
    #md1 {
    margin-left: -43vw;
    margin-top: 37vh;
    width: 44vw;
    }
    #about2 {
        font-size: large;
    }
    .pp1 {
        font-size: xx-small;
    }
    #hh2a {
        font-size: smaller;
    }
    #hh2 {
        font-size: smaller;
    }
    #hh1 {
        font-size: small;
    }
    #but1 {
        font-size: 1vw;
        margin-left: -5vw;
        margin-top: 0vh;
    }
    #bar2 {
        height: 3vh;
        width: 100vw;
    }
    .navbar {
        width: 98vw;
    }
    #parliamentTotal {
        font-size: 1.5vw;
    }
    #presidentialTotal {
        font-size: 1.5vw;
    
    }

}
@media screen and (min-width: 900px) {
    #nano_1 {
        font-size: 0.8vw;
        margin-right: 0.2vw;
        margin-left: 1vw;
    }
    #nano_2 {
        font-size: 0.8vw;
        margin-bottom: -0.3vh;
    }
    #regionSelection {
    font-size: 0.7vw;
    }
    #yearSelection {
    font-size: 0.7vw;
    }
    #title_1 {
    margin-left: -1vw;
    height: 1vh;
    margin-bottom: 0vh;
    }
    #but1 {
        font-size: 0.6vw;
        margin-left: 2.5vw;
        margin-top: 1.2vh;
    }
    #bt1 {
        font-size: 0.8vw;
        margin-left: 3vw;
    }
    #bt2 {
        font-size: 0.8vw;
        margin-left: 8vw;
    }
    #censusSelection {
        font-size: 0.7vw;
        margin-left: 2vw;
        
    }
    #container1 {
        margin-left: -0.4vw;
        width: 24vw;
        height: 57vh;
    }
    #container2 {
        margin-left: -0.4vw;
        width: 24vw;
        height: 57vh;
    }
    #container1b {
         margin-left: -0.5vw;
        width: 24vw;
        height: 57vh;
    }
    #container2b {
        margin-left: -0.5vw;
        width: 24vw;
        height: 57vh;
    }
    #container4 {
        margin-left: -1.3vw;
        width: 24.5vw;
        height: 56.5vh;
    }
    #container3 {
        margin-left: -1.3vw;
        width: 24.5vw;
        height: 57vh;
    }
    #map-container {
        width: 26vw;
        margin-left: -1.6vw;
        height: 59.5vh;
    }
    #container3b {
        margin-left: -1.6vw;
        width: 26vw;
        height: 57vh;
    }
    #map_name_1 {
        height: 58.4vh;
    }
    #parliamentTotal {
        font-size: 1.5vw;
    }
    #presidentialTotal {
        font-size: 1.5vw;
    
    }
    #md1 {
        margin-left: -40vw;
        margin-top: 4vh;
        width: 27vw;
        margin-bottom: 0vh;
        margin-right: 0vw;
        height: 19vh;
    }


}