{% load static %}
<!doctype html>
<html lang="en">

<head>
	<!-- Requir %}ed meta tags -->
	<title> Election Dashboard :: About</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="{% static 'css/index2.css' %}">
</head>
<body>
	<div class="fontain">
		<div class="box">
			<h2>SERVICE</h2>
			<h3>Election Dashboard</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adispiring elit, sed do aiumsond.</p>	
		</div>
		<div class="box">
			<h2>SUPERVISOR</h2>
			<h3>Prof. Gift Dumedah</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adispiring elit, sed do aiumsond.</p>	
		</div>
		<div class="box">
			<h2>DEVELOPER</h2>
			<h3>Ahado Kwame Jesse</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adispiring elit, sed do aiumsond.</p>	
		</div>
	</div>
</body>
</html>



